.btn {
    color: var(--unnamed-color-000000);
    border-radius: 27px;
    @media (min-width: 1281px) {
        &:hover {
            color: var(--unnamed-color-000000-hover);
        }
    }
}
.btn--orange {
    background: var(---f1b356-btn);
    @media (min-width: 1281px) {
        &:hover {
            background: var(---f1b356-btn-hover);
        }
    }
}

.label-svg {
    position: relative;

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px var(---211e1b-dark-bagcground) inset !important;
    }

    input:-webkit-autofill {
        -webkit-text-fill-color: var(---ccc4bc-info-txt) !important;
    }
}

.label-svg svg {
    fill: var(---ccc4bc-info-txt);
    position: absolute;
    left: 5%;
    top: 50%;
    translate: 0 -50%;
}

.label-svg input,
textarea {
    background: var(---211e1b-dark-bagcground);
    width: 100%;
    padding-left: 55px;
    padding-block: 10px;
    border-radius: 30px;
    font-size: var(--unnamed-font-size-18);
    &::placeholder {
        color: var(---ccc4bc-info-txt);
        letter-spacing: var(--unnamed-character-spacing-0);
        font-size: var(--unnamed-font-size-18);
    }
}

.label-svg--besked {
}

.label-svg--besked svg {
    top: 10%;
}

.label-svg--besked textarea {
    color: var(---ccc4bc-info-txt);
}

.status {
    position: fixed;
    bottom: 5px;
    left: 5px;
    color: var(--unnamed-color-ffffff);
    z-index: 100;
}
